body {
  background-color: #ffffff; 
  color: #000;
  display: flex;
}

.icon-container {
  position: absolute;
  top: 15px;
  right: 15px;
  display: flex;
  gap: 15px;
}

.icon-link {
  text-decoration: none;
}

.icon {
  color: #000;
  cursor: pointer;
  font-size: 24px;
  transition: color 0.3s;
}

.icon:hover {
  color: grey;
}

.textarea {
  width: 50%;
  height: 400px;
  background-color: #ffffff;
  color: #000;
  font-size: 24px;
  font-family: "Times New Roman", serif;
  border: none;
  border-radius: 8px;
  padding: 16px;
  resize: none;
  outline: none;
  cursor: text;
}



.info-hidden {
  visibility: hidden;
}