body {
  background-color: #ffffff; 
  color: #000;
}

.app-container {
  height: 100vh;
  width: 100vw;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  color: #000;
}

.icon-container {
  position: absolute;
  top: 15px;
  right: 15px;
  display: flex;
  gap: 15px;
}

.icon-link {
  text-decoration: none;
}

.icon {
  color: #000;
  cursor: pointer;
  font-size: 24px;
  transition: color 0.3s;
}

.icon:hover {
  color: grey;
}

.textarea {
  width: 60%;
  height: 400px;
  background-color: #ffffff;
  color: #000;
  font-size: 24px;
  font-family: "Times New Roman", serif;
  border: none;
  border-radius: 8px;
  padding: 16px;
  resize: none;
  outline: none;
  cursor: text;
}

.MuiDialog-paper {
  backdrop-filter: blur(8px); 
  background-color: rgba(255, 255, 255, 0.9); 
  border-radius: 16px; 
  width: 23%; 
  height: 35%;
  
  font-weight: 400;
  text-decoration: rgb(33, 33, 33);
  line-height: 24px;
  text-align: justify;
  font-family: "Montserrat", sans-serif; 
  position: relative;
  padding: 16px;
}


.dialog-header {
  position: relative;
  width: 100%;
}

.dialog-title {
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
  margin-bottom: 4px;
  border-bottom: 2px solid black;
  font-family: "Montserrat", sans-serif;
}

.dialog-minimize-button {
  font-size: 20px;
  color: #000;
  cursor: pointer;
}

.MuiDialogContent-root {
  text-align: justify, ;
  font-family: "Montserrat", sans-serif;
  color: #858585;
  line-height: 1.6;
} 

.info-hidden {
  visibility: hidden;
}